<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/68bc1fc849.js" crossorigin="anonymous"></script>
        <link rel="stylesheet"  href="css/files_css.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('./partials/header.ejs') %> 
        <main class="main_container">
            <div class="main_container_izq">
                <h1 style="color: white;"><p style="font-size: 3vw;">Categorias</p></h1>
            <div class="main_container_izq_2">
            <button class="botones" id="boton23"><p style="font-size: 2vw;">Juegos de Mesa</p></button><!--boton juegos de mesa-->
            <button class="botones"><p style="font-size: 2vw;">TCG</p></button><!--boton tcg-->
            <button class="botones"><p style="font-size: 2vw;">Libros de Terror</p></button><!--boton libros de terror-->
            <button class="botones"><p style="font-size: 2vw;">Manga</p></button><!--boton manga-->
            </div>
            </div>
            <div class="main_container_der">
                <h1 style="color: white;">Juegos de Mesa</h1><!--display categoria del producto como ejemplo juegos de mesa-->
            <div class="main_container_der_2">
                <% productos.forEach(element => { %>
                    <div class="main_container_der_3"><!--Listado de productos , un producto en cada div-->
                        <div><p class="p_der_2" id="<%= element.id %>"> <%= element.nombre %> </p></div><!--titulo-->
                        <form action="/detail_product" method="get" >
                        <button type="submit" class="botones_der_2" style="background-image: url('<%=element.imagen %>');"></button><!--picture-->
                        
                        
                        
                        
                        
                        

                        <input type="hidden" name="id" value="<%= element.id %>" >
                        <input type="hidden" name="nombre" value="<%= element.nombre %>" >
                        <input type="hidden" name="descripcion" value="<%= element.descripcion %>" >
                        <input type="hidden" name="precio" value="<%= element.precio %>" >
                        <input type="hidden" name="imagen" value="<%= element.imagen %>" >

                        
                        </form>
                        <div class="items_price"><i class="far fa-dollar-sign"></i><%= element.precio %> </div><!--price-->
                    </div>
                    
                <% }) %>
                
                

                

                

                
                
            </div>

        </main>
        <%- include('./partials/footer.ejs') %> 
        
    </body>
    
 
</html>