<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/68bc1fc849.js" crossorigin="anonymous"></script>
        <link rel="stylesheet"  href="css/files_css_product.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('./partials/header.ejs') %> 
        <main class="main_container">
            <div class="main_izquierda"><!--red-->
                <h1 style="color: red;"><%= producto.nombre %> </h1>
                <div class="product_picture" style="background-image: url('<%=producto.imagen %>');"></div><!--Imagen Producto-->

            </div>
            <div class="main_derecha">
                <div class="main_derecha_a"><!--blue-->

                    
                    <div class="display_product"><!--white cyan-->
                        <div class="product_image"><!--green-->
                            

                        </div>
                        <div class="display_product_1"></div>
                        <div class="display_product_2"></div>
                        <div class="display_product_3"></div>
                        <div class="display_product_4"></div>
                    

                    </div>
                <div class="detail_product">
                    <button id="add_button" style="font-size: 3vw;">Agregar</button>
                    <div class="boton_cantidad">
                        <button id="button_plus" style="width: 2vw; height:3vw; justify-content: center; display: flex;align-items: center;"><i class="fa-solid fa-circle-plus" style="font-size: 2vw;"></i></button>
                        <input id="input_space" style="border: solid gray 2px; width: 7vw; height: 3vw; background-color: white;" value="0" min="0" type="number"></input>
                        <button id="button_minus" style="width: 2vw; height:3vw; justify-content: center; display: flex;align-items: center;"><i class="fa-solid fa-circle-minus" style="font-size: 2vw;"></i></button>
                        
                    </div>

                    <div class="boton_cart_money">
                        <button class="cart_button" style="width:5vw; height: 5vw; display: flex; justify-content: center; align-items: center;"><i class="fa-solid fa-cart-shopping"></i></button>
                        <div style="border: solid black 2px; width:13vw; height: 5vw; display: flex; justify-content: center; align-items: center;"><i class="fa-regular fa-dollar-sign"></i><p style="font-size: 2vw;"><%= producto.precio %> </p></div>
                    
                    </div>

                    <div class="boton_star">
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>
                        <button class="boton"><div class="bot"><i class="fa-regular fa-star" style="font-size: 2vw;"></i></div></button>

                    </div>
                    

                </div><!--detail product-->

            </div><!--blue-->
            <div class="main_derecha_b"><!--brown-->
                <p class="p_letra"><%= producto.descripcion %> </p>

            </div>

            </div><!--main derecha-->
            

        </main>
        <%- include('./partials/footer.ejs') %> 
        
    </body>
    <script src="./scrpits_js/detail_product.js"></script>
    <script >
        const add_button = document.getElementById("add_button")

    




        
        let the_product = '<%- JSON.stringify(producto)  %>';
        const the_product_2 = JSON.parse(the_product)
        
        
        function add(){
        //input_space defined in the other script tag
        if(input_space.value >= 1){
            the_product_2.cantidad = input_space.value
            let product = JSON.stringify(the_product_2)
            localStorage.setItem("<%- producto.id %>",product)
            alert('Producto Agregado')
        }else{
            alert("No hay productos")
            
        }
        
        }
        add_button.addEventListener("click",add)
    </script> 

    
    
 
</html>